<script type="text/javascript">
	window.onload = function () {showPrices();}
</script>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="top-nav-bottom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                  <a class="navbar-brand" href="/" id="logo"></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user.email}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/"><i class="fa fa-fw fa-home"></i> Home Page</a>
                    </li>
                    <li>
                        <a href="javascript:" data-toggle="collapse" data-target="#ExpCollapse"><i class="fa fa-fw fa-briefcase"></i> Experiments <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="ExpCollapse" class="collapse.in">
                            <li>
                                <a href="/NewExperiment" class="subMenuActive">Create a New</a>
                            </li>
                            <li>
                                <a href="/Experiments">View Existing</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="javascript:" data-toggle="collapse" data-target="#CatCollapse"><i class="fa fa-fw fa-tasks"></i> Catalogs <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="CatCollapse" class="collapse">
                            <li>
                                <a href="/NewCategory">Create a New</a>
                            </li>
                            <li>
                                <a href="/Categories">View Existing</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/contact"><i class="fa fa-fw fa-send"></i> Contact</a>
                    </li>
                     <li>
                        <a href="Help.pdf" target="_blank"><i class="fa fa-fw fa-info"></i> Help</a>
                    </li>
                     <li id="surveyGizmoLI">
                        <a href="http://www.surveygizmo.com" target="_blank"><i class="fa fa-fw fa-link"></i> <span class="survey">survey</span><span class="gizmo">gizmo</span></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                  <ol class="breadcrumb BreadCrumbsStyle">
                            <li>
                                <a href="/"> <i class="fa fa-home"></i> Home Page</a>
                            </li>
                            &nbsp<i class="fa fa-angle-right nextBreadcrumb"> </i>&nbsp
                            <li class="active">
                                <i class="fa fa-briefcase"></i> New Experiment
                            </li>
                   </ol>
                
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header groovyBorder">
                            Create a New <small>Experiment</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

				<!--<form action="/SubmitExperiment" method="post" role="form">-->
	                 
	                 <section id="newExperiment">
	                 	
	                 	<article id="generalTab" class="btn btn-default tabStyleActive" onclick="generalPressed()"> General </article>
	                 	<article id="ParticipantsTab" class="btn btn-default tabStyle" onclick="participantsPressed()"> Exam UI</article>
	                 	<article id="IterationTab" class="btn btn-default tabStyle" style="color: #3F455C;"> Iteration </article>
	                 	
	                 		<section id="generalSection">
							                 	<section class="expFormLeftSide">
										                 <div class="form-group">
								                                <label>Experiment's Name </label>
								                                  <input type="text" class="form-control formStyle" name="name" required id="ExpName">
										                 </div>
										                 
										                 <div class="form-group">
								                                <label>Experiment's Description </label>
								                                <textarea class="form-control textStyle formStyle" name="description" rows="10" id="ExpDesc"></textarea>
								                                
							                            </div>
							                            
							                            <section class="priceLeftSide">
										                            <div class="form-group">
											                                <label>Maximum Tries </label>
											                                  <input type="number" min="1" class="form-control formStyle" name="tries" required id="tries">
													                 </div>
													    </section>
													      
													    <section class="priceRightSide">           
													                   <div class="form-group">
											                                <label>Wallet's Size </label>
											                                  <input type="number" min="0" class="form-control formStyle" name="wallet" required id="wallet">
													                 </div>
							                            </section>
							                            
							                            <div class="clear"></div>
						                        </section>
						                            
						                        <section class="expFormRightSide">
						                       
						                        	<div class="form-group">
								                                <label>Gizmo Source Code (Javascript) </label>
								                                  <input type="text" class="form-control formStyle" name="survaypage" required id="GizmoCode">
										            </div>
										            
										            <div class="form-group">
						                                <label>Associate with a Catalog </label>
						                                <select class="form-control formStyle" name="Categories" id="Categories">
						                                    {{#each items}}
                                                                   <option value="{{category_id}}">{{category_name}}</option>
                                                            {{/each}} 
						                                </select>
						                            </div>     
						                            
						                            <label>Payment Algorithem </label>
						                            <section class="switchesSide">		
						                                <section class="switchFather">
								                            	 <div class="form-group">				
																	<label id="showPriceLabel">Show Prices </label><br>
																		<section class="onoffswitch">
																			    <input type="checkbox" name="PriceOnOffSwitch" class="onoffswitch-checkbox" id="PriceOnOffSwitch" checked="checked" onclick="showPrices()">
																			    <label class="onoffswitch-label" for="PriceOnOffSwitch">
																			        <span class="onoffswitch-inner"></span>
																			        <span class="onoffswitch-switch"></span>
																			    </label>
																		</section>
																	</div>
														</section>	
														
														<section id="firstLvlActivate">  <i class="fa fa-arrow-down"  id="firstLvlArrowActivate"></i>	 </section>	
														
														<section id="secondLvlActivate"> <i class="fa fa-arrow-down" id="secondLvlArrowActivate"></i>	 </section>
														 
														 <section class="switchesSons">
														 	<section class="switchLeftSon">
																 <div class="form-group">		
																	<label id="negotiationLabel">Negotiation</label><br>
																		<section class="onoffswitch">
																		    <input type="checkbox" name="BidOnOffSwitch" class="onoffswitch-checkbox" id="BidOnOffSwitch" onclick="negotiation()">
																		    <label class="onoffswitch-label" for="BidOnOffSwitch">
																		        <span class="onoffswitch-inner"></span>
																		        <span class="onoffswitch-switch"></span>
																		    </label>
																		</section>
																	</div>
															</section>
															
															<section class="switchRightSon">	
																 <div class="form-group">			
																	<label id="nimPriceLabel">Minimum Price</label><br>
																	<section class="onoffswitch">
																		    <input type="checkbox" name="MinPriceOnOffSwitch" class="onoffswitch-checkbox" id="MinPriceOnOffSwitch"  onclick="minimumPrice()">
																		    <label class="onoffswitch-label" for="MinPriceOnOffSwitch">
																		        <span class="onoffswitch-inner"></span>
																		        <span class="onoffswitch-switch"></span>
																		    </label>
																	</section>	
																</div>
															</section>
															
														</section>
														
													</section>	
													
												
						                   
						                 </section>
						                 
						                 <section class="buttonsSection">
						                 	<a class="btn btn-default nextStyle" onclick="participantsPressed()">Next</a>
						                  	 <a href="/Experiments"><article class="btn btn-default cancelStyle">Cancel</article> </a>
						                 </section>
						            
						                 
		 		 			</section>
		 		 			
			                 <section id="participantsSection">
			                 	   
			                
										  <section class="topParticipants">          
										                 
										                 <div class="form-group">
								                                <label>Introduction </label>
								                                <article>
								                                		<textarea class="editor form-control" name="intro" rows="10" id="intro" maxlength="5000"></textarea>
								                               </article> 
							                            </div>
							                            
							                             <div class="form-group">
								                                <label>Conclusions </label>
								                                <textarea class="editor form-control" name="summary" rows="10" id="conclusion" maxlength="5000"></textarea>
								                                
							                            </div>
							                            
							               </section>                
							         	   <section class="expFormLeftSide">            
							         	   	        
							                            <div class="form-group">
								                                <label>Message for "Show Prices" = "ON" </label>
								                                  <input type="text" class="form-control formStyle" maxlength="60" id="msgPriceOn" >
										                 </div>
							                            
							                             <div class="form-group">
								                                <label>Message for "Negotiation" = "ON" </label>
								                                  <input type="text" class="form-control formStyle" maxlength="60" id="msgNegoOn">
										                 </div>
										                 
										                  <div class="form-group">
								                                <label>Message for "Minimum Price" = "ON" </label>
								                                  <input type="text" class="form-control formStyle" maxlength="60" id="msgMinPriceOn">
										                 </div> 
										                 
										                  <div class="form-group">
								                                <label>Message for "Minimum Price" = "OFF" </label> 
								                                  <input type="text" class="form-control formStyle" maxlength="60" id="msgMinPriceOff">
										                 </div> 
										                 
										    </section>
						                            
						                    <section class="expFormRightSide">

						                    			  <div class="form-group">
								                                <label>Message Seen Above the Products  </label>
								                                  <input type="text" class="form-control formStyle" maxlength="60" id="msgAboveProducts">
										                 </div> 
										                 
										                  <div class="form-group">
								                                <label>Message for Entering a Price that is Too Low </label>
								                                  <input type="text" class="form-control formStyle" maxlength="60" id="msgPriceLow">
										                 </div>
							                            
							                             <div class="form-group">
								                                <label>Header for Rating Page</label>
								                                  <input type="text" class="form-control formStyle" maxlength="60" id="rateHeader">
										                 </div>
										                 
										                  <div class="form-group">
								                                <label>Minor Heading for Rating Page</label>
								                                  <input type="text" class="form-control formStyle" maxlength="60" id="rateSubHeader">
										                 </div> 
									      </section>
									      
						           <section class="buttonsSection">
					              	    <input type="submit" class="btn btn-default submitStyle" value="Submit" onclick="submitNewExperiment()">
					              	    <!-- <article class="btn btn-default nextStyle" onclick="generalPressed()">Back</article>    -->
					              	    <a href="/Experiments"><article class="btn btn-default cancelStyle">Cancel</article> </a>   
					              </section>
					              
					         </section> 
			                 
			                  <section id="iterationSection"> </section>
			                 
			                 
				                    
	                 </section>

               <!-- </form>-->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

