

<section id="wrapper2">
  <article id="logo_login"></article>
  <p></p> <br>
  <h1 id="regTitle"> Fill In Your Details to Register to FleXiprice</h1>

  <section id="signinSection">

   <form id="local-reg" action="/local-reg" method="post">
    <input type="text" name="email" placeholder="Enter Email" required class="form-control textStyle signinInput"/>
<!-- <p></p>
    <input type="email" name="email" placeholder="Enter email address" required class="signinInput" /> -->

    <input type="password" name="password" placeholder="Enter Password" required class="form-control textStyle signinInput" />
    <input type="submit" class="buttonArea" value="GO"/>
  </form>
   <div id="local">
      <a href="/signin" class="regBtn" role="button">Go Back</a>
   </div>

</section>

 

</section>